{
    "semi": true,
    "singleQuote": true,
    "useTabs": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "printWidth": 80,
    "jsxSingleQuote": true,
    "arrowParens": "always",
    "bracketSpacing": true
}
